In [ ]:
for i in range(1,6):
  for j in range(1,i):
    print("*",end=' ')
  print("\r")
for i in range(6,1,-1):
  for j in range(1,i):
    print("*",end=' ')
  print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(1,len(my_list),2):
  print(my_list[i])

20
40
60
80
100

In [ ]:
x=[23,'python',23.98]
types=[]
for i in x:
    types.append(type(i))
print(x)
print(types)

[23, 'python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [ ]:
sample_list=[1,2,3,3,3,3,4,5]
unique_list=[]
for i in sample_list:
  if i not in unique_list:
    unique_list.append(i)
print(sample_list)
print(unique_list)

[1, 2, 3, 3, 3, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:

def count_case(string):
  upper_case=0
  lower_case=0
  for char in string:
    if char.isupper():
      upper_case=upper_case+1
    elif char.islower():
      lower_case=lower_case+1
  return upper_case,lower_case
s1='The quick Brow Fox'
upper_case,lower_case=count_case(s1)
print("No.of Upper-case characters:",upper_case)
print("No.of Lower-case characters:",lower_case)

No.of Upper-case characters: 3
No.of Lower-case characters: 12